[submodule "home/.zsh/antigen"]
	path = home/.zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "home/.zsh/cdd"]
	path = home/.zsh/cdd
	url = https://github.com/m4i/cdd.git
[submodule "home/.zsh/zaw"]
	path = home/.zsh/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "home/.zsh/zsh-completions"]
	path = home/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/.anyenv"]
	path = home/.anyenv
	url = https://github.com/riywo/anyenv.git
    ignore = untracked
[submodule "anyenv-plugins/anyenv-update"]
	path = anyenv-plugins/anyenv-update
	url = https://github.com/znz/anyenv-update.git
