[core]
	editor = vim -c \"set fenc=utf-8\"
[user]
	email = uskanda@gmail.com
	name = Yusuke Kanda
[alias]
    s = status
    st = status
    ss = status -s
    sh = show
    ff  = flow feature
    ffl = flow feature list
    ffs = flow feature start
    fff = flow feature finish
    ffc = flow feature checkout
    ffp = flow feature publish
    fr = flow release
    fh  = flow hotfix
    fhl = flow hotfix list
    fhs = flow hotfix start
    fhf = flow hotfix finish
    fhp = flow hotfix publish
    fs  = flow support
